body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-align: center;
    background-color: lightgreen;
}

img {
    max-width: 100%;
}

.logo {
    max-width: 200px;
}

.contacto { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.social {
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 70px;
    height: 50%;
    /*USE PADDING PARA CENTRAR LOS ICONOS SOCIALES*/
}
/* NO SERAN LOS COLORES FINALES*/
header { 
    background-color:#76b5c5; 
    display:flex;
    align-items: center;
    justify-content: space-around;
    
}

footer {
    background-color:palevioletred;
    display:flex; 
    justify-content: space-between;
    margin: 10px;
}
.imagenes-lista 



.carousel-item {
    max-height: 720px;
}
.carousel {
  
  

}

.videoslista {

}

.formulario {
    display: inline-block;
    padding: 20px;
    

}
    

.imagenes-codermama {
    
    display: flex;

    max-width: 100%;


    
    
}

.imagenes-lista {
    display: flex; 
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

ul li {
    margin: 25px;
}

ul li a{
    text-decoration: none;

}
ul li a{color: crimson; font-size: 25px;}

